<h1> Ongoing Auctions </h1>

<%= @seller_items
          .where("start_time < ? AND end_time > ?", Time.current, Time.current)
          .each do |form| %>
  
 <h5> Title : <%= form.title %> </h5>

  <%= image_tag form.images.variant(:thumb) %>
  <br> 
 Item Description : <%= form.item_description %>
  <br>
  Base Price : <%=form.reserved_price %>
  <br>
  Ends In : <%=form.end_time - Time.current %> seconds
  <br>

  
<%  end %>