<h3>Item Details</h3>
  <h4>Title : <%= @item.title %> </h4>
  <%= image_tag @item.images.variant(:thumb) %>
  <br>
  Item Description : <%= @item.item_description %>
  <br>
  Reserved Price : <%= @item.reserved_price %>
  <br>
  Started on : <%= @item.start_time %>
  <br>    
  Ends in : <%= @item.end_time - Time.current %>
  <br>
  <br>
  <%= link_to "Place your Bid", new_item_bid_path(@item) %>
  <br>
  <%= link_to "Comments", item_comments_path(@item) %>

  
<h4>All Bids</h4>
<% @bids = @item.bids.order(amount: :desc) %>
<%= @bids.each do |f| %>
   <h5>Amount : <%= f.amount %> </h5>
   Created at : <%= f.created_at %>
   <br>
   <% user = User.find(f.user_id) %>
   Bidder name : <%= user.firstname %><%=user.lastname %>
   <br>
<%end %>

