


<h1 class="text-center my-4">List a New Item</h1>

<div class="container">
  <%= form_with model: @item, class: "card shadow p-4" do |form| %>

    <div class="mb-3">
      <%= form.label :title, "Title", class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :item_description, "Item Description", class: "form-label" %>
      <%= form.text_field :item_description, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :reserved_price, "Enter Base Price for Item", class: "form-label" %>
      <%= form.number_field :reserved_price, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :start_time, "Bidding Start Time", class: "form-label" %>
      <%= form.datetime_local_field :start_time, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :end_time, "Bidding End Time", class: "form-label" %>
      <%= form.datetime_local_field :end_time, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :images, "Upload Item Image", class: "form-label" %>
      <%= form.file_field :images, accept: "image/*", class: "form-control" %>
    </div>

    <div class="text-center">
      <%= form.submit "Create Item", class: "btn btn-primary px-4" %>
    </div>

  <% end %>
</div>
